{% extends "auctions/layout.html" %}



{% block body %}

    <h2 style="color:blue">Biddings Won</h2>

{% if hist_ind %}

 {%  for win in biddings_won  %}

<div style="text-align:center">


<h4>Listing: {{win.listing.title}}</h4> 
<br>
<img src= {{win.listing.url}} alt="Image Not Available" width="225" height="150">
<br>
<h3>Price: ${{win.listing.price}}  </h4>
<br>

<h3>Your Bid: ${{win.bid_value}}  </h4>

<form action="{% url 'listing_details' %}" method="POST">
    
    {% csrf_token %}
    <button name="view_details" type="submit" value={{win.listing.id}}>Detials</button>
</form>

</div>
<br>

{% endfor %}


{% else %}

<h5 style="color:red">You have never won a bidding</h5> 

{% endif %}



{% endblock %}