{% extends "auctions/layout.html" %}



{% block body %}

{% if no_results %}
<h2>No Listings Found</h2>
{% else %}
    

 {%  for listing in listings  %}

<div style="text-align:center">

<h4>Listing: {{listing.title}}</h4> 
<br>
<img src= {{listing.url}} alt="Image Not Available" width="225" height="150">
<br>
<h3>Price: ${{listing.price}}  </h4>
<br>

<form action="{% url 'listing_details' listingid=listing.id %}" method="POST">
    {% csrf_token %}
    <button name="view_details" type="submit" value={{listing.id}}>Detials</button>
</form>


</div>
<br>

    {% endfor %}
{% endif %}


{% endblock %}




