{% extends "auctions/layout.html" %}


{% block body %}
<h2 style="color: coral;font-family:'Lucida Handwriting';text-align: center;margin-top: 10px;">
    Currenlty Watching</h2>


    <div class="container mt-4">
        <div class="row row-cols-2 row-cols-md-5 g-4">
        {%  for lst in listings  %}
                {% if lst.listing.status == "CL" %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top img-fluid"
                                alt="Image Not Available" 
                                style="object-fit:contain">
                            <div class="card-body text-center">
                                <h5 class="card-title" style="font-size: 1rem;">Listing has been closed</h5>
                            </div>
                        </div>
                    </div>

                {% else %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ lst.listing.url }}" class="card-img-top img-fluid"
                             alt="Image Not Available" 
                             style="object-fit:contain">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="font-size: 1rem;">{{ lst.listing.title }}</h5>
                            <p class="card-text" style="font-size: 0.8rem;">Bidding price ${{ lst.listing.price }}</p>
                            <form action="{% url 'listing_details' listingid=lst.listing.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-primary" name="view_details" type="submit" value="{{ lst.listing.id }}">
                                    Details</button>
                            </form>

                            <form action="{% url 'remove_from_watchlist' %}" method="POST">
                                {% csrf_token %} 
                            <input type="hidden"  name="id_lst" value={{lst.listing.id}}>
                            <button class="btn btn-primary mt-2" type="submit" name="watchlist_remove"  value ="Remove">Remove From Watchlist</button>
                            </form>
                        </div>
                    </div>
                </div>
                {%endif%}
            {% endfor %}
        </div>
    </div>    


{% endblock %}